<html>
<head>
<title></title>
</head>
<body>

<p>Ce document fournit laliste des champs utilisables pour la g&eacute;n&eacute;ration des bulletins d&#39;adhesion</p>

<p><u><span style="font-size:12pt;"><strong>Les informations de l&#39;amapien</strong></span></u></p>

<p>$amapien.nom :&nbsp;donne le nom de l&#39;amapien</p>

<p>$amapien.prenom : donne le pr&eacute;nom de l&#39;amapien</p>

<p>$amapien.email : donne l&#39;email de l&#39;amapien&nbsp;</p>

<p>$amapien.numTel1 : donne le num&eacute;ro de t&eacute;l&eacute;phone 1</p>

<p>$amapien.numTel2 : donne le num&eacute;ro de t&eacute;l&eacute;phone 2</p>

<p>$amapien.libAdr1 :&nbsp; donne le libell&eacute; de l&#39;adresse</p>

<p>$amapien.codePostal : donne le code postal</p>

<p>$amapien.ville : donne la ville de l&#39;amapien&nbsp;</p>

<p><u><span style="font-size:12pt;"><strong>Les informations de l&#39;adhesion</strong></span></u></p>

<p>$adhesion.nomPeriode : donne le nom de la p&eacute;riode de cotisation, 2016 par exemple&nbsp;</p>

<p>$adhesion.dateDebut : donne la date de d&eacute;but de la p&eacute;riode</p>

<p>$adhesion.dateFin : donne la date de fin de la p&eacute;riode</p>

<p>$adhesion.montantAdhesion : donne le montant de l&#39;adh&eacute;sion renseign&eacute; par l&#39;amapien</p>

<p>$adhesion.montantMini : donne le montant mini</p>

<p>$adhesion.montantConseille : donne le montant conseill&eacute;</p>

<p>$adhesion.dateDebutInscription : donne la date de d&eacute;but des inscriptions</p>

<p>$adhesion.dateFinInscription :&nbsp;donne la date de fin des inscriptions</p>

<p>$adhesion.textPaiement : donne le texte affich&eacute; pour les instructions de paiements</p>

<p>$adhesion.libCheque : donne l&#39;ordre du ch&egrave;que</p>

<p>$adhesion.dateRemiseCheque : donne la date de remise des ch&egrave;ques</p>

<p>$adhesion.dateAdhesion : donne la date &agrave; laquette l&#39;amapien a valid&eacute; son adh&eacute;sion&nbsp;</p>

<p><u><span style="font-size:12pt;"><strong>Les informations de date</strong></span></u></p>

<p>$date.impression : donne la date de g&eacute;n&eacute;ration du document par le logiciel&nbsp;</p>

<p><u><span style="font-size:12pt;"><strong>Les informations de l&#39;AMAP</strong></span></u></p>

<p>$amap.nom : donne le nom de l&#39;AMAP</p>

<p>$amap.ville : donne la ville de l&#39;AMAP</p>
</body>
</html>
