<html>
<head>
	<title></title>
</head>
<body>

<table border="0" cellpadding="1" cellspacing="0" style="width: 100%;">
	<tbody>
		<tr>
			<td style="width:120px;"><img src="http://amapj.fr/img_amapj/ladybug.png" style="width: 120px; height: 120px; float: right;" /></td>
			<td style="text-align: center;"><span style="font-size:22pt;"><em><span style="color:#A52A2A;">AMAP LE BON PANIER</span></em></span></td>
		</tr>
	</tbody>
</table>


<p style="margin:0pt 0pt 0pt 0pt;">&nbsp;</p>

<p style="margin:0pt 0pt 0pt 0pt;">Je soussign&eacute; : &nbsp;$amapien.nom $amapien.prenom</p>

<p style="margin:0pt 0pt 0pt 0pt;">Adresse : $amapien.libAdr1 $amapien.codePostal $amapien.ville</p>

<p style="margin:0pt 0pt 0pt 0pt;">Tel fixe :&nbsp;$amapien.numTel1</p>

<p style="margin:0pt 0pt 0pt 0pt;">Tel portable : $amapien.numTel2</p>

<p style="margin:0pt 0pt 0pt 0pt;">Mail :&nbsp;$amapien.email</p>

<ul>
	<li style="margin: 0pt;">Reconnais avoir pris connaissance du r&egrave;glement int&eacute;rieur de l&rsquo;association "AMAP LE BON PANIER"</li>
	<li style="margin: 0pt;">M&rsquo;engage &agrave; respecter ce r&egrave;glement.</li>
	<li style="margin: 0pt;">R&egrave;gle le montant de ma cotisation $adhesion.nom au tr&eacute;sorier :$adhesion.montantAdhesion euros</li>
</ul>

<p style="margin:0pt 0pt 0pt 0pt;">Ordre du ch&egrave;que : <strong>$adhesion.libCheque</strong></p>

<p style="margin:0pt 0pt 0pt 0pt;">Rappel : le montant de la cotisation est libre avec un minimum de $adhesion.montantMini euros</p>

<p style="margin:0pt 0pt 0pt 0pt;">Le montant conseill&eacute; est $adhesion.montantConseille euros</p>

<p style="margin:0pt 0pt 0pt 0pt;">&nbsp;</p>

<p style="margin:0pt 0pt 0pt 0pt;">Fait &agrave; $amap.ville, le$date.impression</p>

<p style="margin:0pt 0pt 0pt 0pt;">&nbsp;</p>

<table border="0" cellpadding="1" cellspacing="1" style="height:30pt;width:100%;">
	<tbody>
		<tr>
			<td style="width: 25%;">Signature de l&#39;amapien</td>
			<td style="border: 2px solid; width: 25%;">
			<p>&nbsp;</p>

			<p>&nbsp;</p>
			</td>
			<td style="width: 25%;">&nbsp;</td>
			<td style="width: 25%;">&nbsp;</td>
		</tr>
	</tbody>
</table>

<p>&nbsp;</p>

</body>
</html>
