<html>
<head>
<title></title>
</head>
<body>

<p>Ce document fournit laliste des champs utilisables pour la g&eacute;n&eacute;ration des bilans de livraisons</p>

<p><u><span style="font-size:12pt;"><strong>Les informations de l&#39;amapien</strong></span></u></p>

<p>$amapien.nom :&nbsp;donne le nom de l&#39;amapien</p>

<p>$amapien.prenom : donne le pr&eacute;nom de l&#39;amapien</p>

<p>$amapien.email : donne l&#39;email de l&#39;amapien&nbsp;</p>

<p>$amapien.numTel1 : donne le num&eacute;ro de t&eacute;l&eacute;phone 1</p>

<p>$amapien.numTel2 : donne le num&eacute;ro de t&eacute;l&eacute;phone 2</p>

<p>$amapien.libAdr1 :&nbsp; donne le libell&eacute; de l&#39;adresse</p>

<p>$amapien.codePostal : donne le code postal</p>

<p>$amapien.ville : donne la ville de l&#39;amapien&nbsp;</p>

<p><u><span style="font-size:12pt;"><strong>Les informations de livraison</strong></span></u></p>


<p>$livraison.nomPeriode : donne le nom de la periode. Exemple : le mois de janvier 2018 OU le trimestre janvier - février - mars 2018 </p>

<p>$livraison.nomPeriodeTitre : donne le nom de la periode à mettre dans un titre. Exemple : DU MOIS DE JANVIER 2018 ou DU TRIMESTRE JANVIER - FEVRIER - MARS 2018 </p>

<p>$livraison.tableauDateProduit : donne le tableau avec toutes les dates de livraisons et le detail pour chaque date. </p>


<p><u><span style="font-size:12pt;"><strong>Les informations de date</strong></span></u></p>

<p>$date.impression : donne la date de g&eacute;n&eacute;ration du document par le logiciel&nbsp;</p>

<p><u><span style="font-size:12pt;"><strong>Les informations de l&#39;AMAP</strong></span></u></p>

<p>$amap.nom : donne le nom de l&#39;AMAP</p>

<p>$amap.ville : donne la ville de l&#39;AMAP</p>
</body>
</html>
