<style>

#bilan_livraison 
{
    border-collapse: collapse;
    width: 100%;
}

#bilan_livraison td, #bilan_livraison th 
{
    border: 1px solid #ddd;
    padding: 8px;
}

#bilan_livraison tr:nth-child(odd)
{
	background-color: #f2f2f2;
}


#bilan_livraison th 
{
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: rgb(195, 224, 237);
}

#bilan_livraison th.date 
{
	text-align: center;
	width : 120pt;
}

#bilan_livraison td.date 
{
	text-align: center;
}


</style>
