<html>
<head>
	<title></title>
</head>
<body>
<p style="text-align:center"><span style="font-size:16pt"><strong>Contrat d&rsquo;engagement solidaire AMAP </strong></span></p>

<p style="text-align:center"><span style="font-size:16pt">Saison $contrat.saison : valable du $contrat.dateDebut au $contrat.dateFin </span></p>

<p>Le pr&eacute;sent contrat est pass&eacute; entre :</p>

<table align="center" border="2" cellpadding="2" cellspacing="0" style="width:100%;">
	<tbody>
		<tr>
			<td style="width: 50%; vertical-align: top;">
			<p>Le paysan :</p>

			<p>$producteur.libContrat</p>

			<p>D&rsquo;une part,</p>
			</td>
			<td style="width: 50%;">
			<p style="margin:0pt;">L&rsquo;amapien de l&rsquo;AMAP</p>

			<p style="margin:0pt;"><strong>Pr&eacute;nom :</strong> $amapien.prenom</p>

			<p style="margin:0pt;"><strong>Nom :</strong> $amapien.nom</p>

			<p style="margin:0pt;"><strong>Adresse :</strong> $amapien.libAdr1</p>

			<p style="margin:0pt;">$amapien.codePostal $amapien.ville</p>

			<p style="margin:0pt;"><strong>T&eacute;l. :</strong> $amapien.numTel1</p>

			<p style="margin:0pt;"><strong>E-mail :</strong> $amapien.email</p>

			<p>L&rsquo;AMAP $amap.nom, repr&eacute;sent&eacute;e par M. Mme $referent.nom $referent.prenom</p>

			<p>D&rsquo;autre part.</p>
			</td>
		</tr>
	</tbody>
</table>

<p><strong><span style="font-size:14pt">Article 1 : Objet du contrat </span></strong></p>

<p>D&eacute;terminer les modalit&eacute;s et conditions de l&#39;engagement des parties signataires pour l&rsquo;achat d&rsquo;une part de r&eacute;colte et la mise en &oelig;uvre d&rsquo;activit&eacute;s pour le Maintien d&rsquo;une Agriculture Paysanne.</p>

<p><strong><span style="font-size:14pt">Article 2 : Engagement de l&rsquo;amapien </span></strong></p>

<p>L&rsquo;amapien s&rsquo;engage en son nom &agrave; :</p>

<ul>
	<li>&nbsp;r&eacute;gler d&rsquo;avance (cf. article 4) l&rsquo;achat de produits correspondant &agrave; une part de la production du paysan sur la dur&eacute;e du contrat.</li>
	<li>r&eacute;cup&eacute;rer (ou faire r&eacute;cup&eacute;rer) son panier chaque (jour, heure, lieu, adresse) pr&eacute;vu au calendrier (cf. annexe). En cas de vacances non incluses au contrat, s&rsquo;organiser pour qu&rsquo;une autre personne puisse profiter du panier . En cas de non retrait, aucun remboursement ne sera effectu&eacute; et les paniers non r&eacute;cup&eacute;r&eacute;s seront partag&eacute;s par / entre les permanents de distribution.</li>
	<li>Adh&eacute;rer &agrave; l&rsquo;AMAP $amap.nom &agrave; hauteur de X&euro; (dont Y&euro; sont revers&eacute;s au r&eacute;seau r&eacute;gional et Z&euro; au r&eacute;seau d&eacute;partementale).</li>
	<li>tenir une permanence de distribution, dans un esprit de coop&eacute;ration, au moins 1 fois par saison.</li>
	<li>participer dans la mesure de ses possibilit&eacute;s au fonctionnement et &agrave; l&rsquo;animation de l&rsquo;AMAP (accueil et visite de ferme, animations diverses, engagement actif dans l&rsquo;association (CA, AG&hellip;), d&eacute;bats, tenu de stands de sensibilisation sur des foires&hellip;).</li>
	<li>reconna&icirc;tre les al&eacute;as de la production (intemp&eacute;ries, ravageurs, &hellip;) et, en tant que consommateur, accepte les risques li&eacute;s &agrave; ces al&eacute;as.</li>
	<li>Respecter la charte des AMAP</li>
</ul>

<p><strong><span style="font-size:14pt">Article 3 : Engagement du paysan </span></strong></p>

<p>Le paysan s&rsquo;engage &agrave; :</p>

<ul>
	<li>Approvisionner les amapiens en $contrat.description en quantit&eacute; et qualit&eacute; suffisantes, et &agrave; mener son exploitation dans un esprit de respect de la nature et de l&rsquo;environnement.</li>
	<li>Etre pr&eacute;sent aux moments des distributions et &agrave; informer les amapiens sur ses savoir-faire, pratiques, contraintes &eacute;conomiques (fixation du prix moyen annuel du panier), &eacute;cologiques (m&eacute;thodes agro-&eacute;cologiques, utilisation de produits chimiques et de synth&egrave;se), et sociales (travail / revenu&hellip;), en r&eacute;f&eacute;rence &agrave; la charte de l&rsquo;Agriculture Paysanne et au Cahier des Charges de l&rsquo;Agriculture Biologique, au moyen, notamment, d&rsquo;un bilan de saison et d&rsquo;une visite de ferme annuels ainsi que de tout autre support p&eacute;dagogique qu&rsquo;il jugera utile (blog, &laquo; feuille de chou &raquo;, ateliers p&eacute;dagogiques &agrave; la ferme : ex = jardinage, semis, cueillette, transformation de produits&hellip;).</li>
	<li>Proposer des solutions de compensation partielle &agrave; l&rsquo;AMAP en cas de pertes li&eacute;es &agrave; des intemp&eacute;ries ou de force majeure.</li>
	<li>&nbsp;Adh&eacute;rer au r&eacute;seau r&eacute;gional des AMAP, dans une optique de coh&eacute;rence et de coop&eacute;ration avec les autres paysans du r&eacute;seau.</li>
</ul>

<p><strong><span style="font-size:14pt">Article 4 : Engagements de l&rsquo;AMAP </span></strong></p>

<p>L&rsquo;AMAP s&rsquo;engage &agrave;:</p>

<ul>
	<li>g&eacute;rer le lieu de rencontre entre le(s) paysan(s) et les consommateurs, les distributions et les livraisons (rotation des permanences avec nomination d&rsquo;un responsable, diffusion des calendriers de distribution, gestion des paniers orphelins&hellip;).</li>
	<li>faire vivre la solidarit&eacute; vis-&agrave;-vis des paysans et des consom&rsquo;acteurs (ex : caisse de soutien au paysan, p&eacute;r&eacute;quation consommateurs, paniers solidaires&hellip;). - animer l&rsquo;association (organisation des diff&eacute;rentes t&acirc;ches : r&eacute;f&eacute;rents paysans, tr&eacute;sorerie, secr&eacute;tariat, correspondance avec le mouvement des Amap).</li>
	<li>adh&eacute;rer financi&egrave;rement et politiquement au mouvement des Amap (Alliance r&eacute;gionale et antenne d&eacute;partementale s&rsquo;il en existe une) afin de renforcer le mouvement citoyen d&rsquo;alternative agricole.</li>
</ul>

<p>&hellip; et &ndash; au travers de son r&eacute;f&eacute;rent paysan &ndash; &agrave; :</p>

<ul>
	<li>g&eacute;rer et renouveler ce pr&eacute;sent contrat (proposer un nouveau contrat au moins 1 mois avant l&rsquo;&eacute;ch&eacute;ance de celui-ci).</li>
	<li>organiser un bilan de saison (fonctionnement, satisfactions, agriculture paysanne, biologique) &agrave; l&rsquo;occasion de l&rsquo;Assembl&eacute;e G&eacute;n&eacute;rale Ordinaire .</li>
	<li>&nbsp;assurer le lien entre paysan et consom&rsquo;acteurs (action p&eacute;dagogique de soutien au paysan, article sur le blog ou la &laquo; feuille de chou &raquo;, organisation d&rsquo;ateliers &agrave; la ferme : jardinage, semis, transformation des produits&hellip;).</li>
</ul>

<p><span style="font-size:14pt"><strong>Article 5 : Termes et modalit&eacute;s de l&rsquo;engagement </strong></span></p>

<p>Le pr&eacute;sent contrat est &eacute;labor&eacute; pour la saison courant du $contrat.dateDebut au $contrat.dateFin, et comprendra $contrat.nbLivraison distributions.</p>

<p>Le calendrier de distribution est disponible en annexe 1.</p>

<p>La distribution pour le pr&eacute;sent contrat aura lieu tous les JEUDI de 18h30 &agrave; 19h30 &agrave; la salle XX (adresse).</p>

<p>Le r&egrave;glement se fait &agrave; la remise du pr&eacute;sent contrat par $contrat.nbCheque ch&egrave;ques &agrave; l&rsquo;ordre de $contrat.libCheque, qui seront retir&eacute;s chaque mois au d&eacute;but du mois. La liste des ch&egrave;ques est disponible en annexe 2.</p>

<p><strong><span style="font-size:14pt">Article 6 : Litiges et rupture anticip&eacute;e du contrat</span></strong></p>

<p>En cas de non respect d&rsquo;une partie du contrat, les co-contractants peuvent faire appel &agrave; diff&eacute;rents recours :</p>

<ul>
	<li>la m&eacute;diation, soit au sein de l&rsquo;Amap ou en cas de conflit plus grave, via le r&eacute;seau r&eacute;gional</li>
	<li>&nbsp;la voie juridique (on&eacute;reuse).</li>
</ul>

<p>A $amap.ville , le $date.impression</p>

<table align="center" border="0" cellpadding="1" cellspacing="1" style="width:100%">
	<tbody>
		<tr>
			<td style="width:33%">
			<p>L&rsquo;Amapien</p>

			<p>&nbsp;</p>

			<p>&nbsp;</p>
			</td>
			<td style="width:33%">
			<p>L&rsquo;Amap</p>

			<p>&nbsp;</p>

			<p>&nbsp;</p>
			</td>
			<td style="width:33%">
			<p>Le paysan</p>

			<p>&nbsp;</p>

			<p>&nbsp;</p>
			</td>
		</tr>
	</tbody>
</table>

<p><strong><span style="font-size:14pt">Annexe 1 - Liste des produits</span></strong></p>

<div>$contrat.tableauDateProduit</div>

<p><span style="font-size:14pt"><strong>Annexe 2 - Liste des chèques fournis par l'amapien</strong></span></p>

<div>$contrat.tableauDateCheque</div>
</body>
</html>
