<html>
<head>
	<title></title>
</head>
<body>

<div style="min-height:375pt;">
<table border="1" cellpadding="0" cellspacing="0" style="width:100%;">
	<tbody>
		<tr>
			<td style="text-align: center;">
			<p style="margin:0pt;"><span style="font-size:16pt;">Contrat $contrat.nom</span></p>

			<p style="margin:0pt;">$producteur.libContrat</p>
			</td>
		</tr>
	</tbody>
</table>

<p style="text-align: center;"><u>Saison $contrat.saison : valable du $contrat.dateDebut au $contrat.dateFin</u></p>

<p style="margin:0pt;">Nom et pr&eacute;nom de l&#39;amapien :&nbsp;<strong>$amapien.nom&nbsp;$amapien.prenom</strong></p>

<p style="margin:0pt;">Adresse courriel : <strong>$amapien.email</strong> Tel : <strong>$amapien.numTel1</strong> Portable:&nbsp;<strong>$amapien.numTel2</strong></p>

<p style="margin:0pt;">&nbsp;</p>

<p style="margin:0pt;"><u>D&eacute;tails des produits du contrat :</u></p>

<div style="min-height: 100px;">$contrat.listeDateProduitCompact</div>

<p style="margin:0pt;">Montant total des produits du&nbsp;contrat : <strong>$contrat.montantProduit &euro;</strong> - Nombre total de produits : <strong>$contrat.amapienNbProduit</strong></p>

<p style="margin:0pt;">&nbsp;</p>

<p style="margin:0pt;"><u>D&eacute;tails des paiements :</u></p>

<div>$contrat.listeDateChequeCompact</div>

<p style="margin:0pt;">Montant total des ch&egrave;ques (hors avoir)&nbsp;: <strong>$contrat.montantCheque &euro;</strong></p>

<p style="text-align: center;color:#ff0000;"><strong>J&#39;accepte les conditions &eacute;tablies par la charte des AMAP&reg; et la convention de mon AMAP</strong></p>

<table border="0" cellspacing="0" style="width:100%;">
	<tbody>
		<tr>
			<td style="width: 10%;">&nbsp;</td>
			<td style="width: 35%; border: 2px solid rgb(0, 0, 0);">
			<p style="margin:0pt;"><span style="font-size:8pt;">Date et signature du producteur</span></p>

			<p>&nbsp;</p>
			</td>
			<td style="width: 10%;">&nbsp;</td>
			<td style="width: 35%; border: 2px solid rgb(0, 0, 0);">
			<p style="margin:0pt;"><span style="font-size:8pt;">Date et signature de l&#39;amapien</span></p>

			<p>&nbsp;</p>
			</td>
			<td style="width: 10%;">&nbsp;</td>
		</tr>
	</tbody>
</table>

<p style="margin: 0pt; text-align: center;"><strong><span style="color:#FF0000;">Toute distribution non r&eacute;cup&eacute;r&eacute;e sera port&eacute;e &agrave; la banque alimentaire de XXX</span></strong></p>
</div>

<hr />

<!--  PARTIE RECU  , strictement identique à la partie précédente, hormis le mot recu en plus -->

<div style="page-break-inside:avoid;">
<table border="1" cellpadding="0" cellspacing="0" style="width:100%;">
	<tbody>
		<tr>
			<td style="text-align: center;">
			<p style="margin:0pt;"><span style="font-size:16pt;">Reçu du contrat $contrat.nom</span></p>

			<p style="margin:0pt;">$producteur.libContrat</p>
			</td>
		</tr>
	</tbody>
</table>

<p style="text-align: center;"><u>Saison $contrat.saison : valable du $contrat.dateDebut au $contrat.dateFin</u></p>

<p style="margin:0pt;">Nom et pr&eacute;nom de l&#39;amapien :&nbsp;<strong>$amapien.nom&nbsp;$amapien.prenom</strong></p>

<p style="margin:0pt;">Adresse courriel : <strong>$amapien.email</strong> Tel : <strong>$amapien.numTel1</strong> Portable:&nbsp;<strong>$amapien.numTel2</strong></p>

<p style="margin:0pt;">&nbsp;</p>

<p style="margin:0pt;"><u>D&eacute;tails des produits du contrat :</u></p>

<div style="min-height: 100px;">$contrat.listeDateProduitCompact</div>

<p style="margin:0pt;">Montant total des produits du&nbsp;contrat : <strong>$contrat.montantProduit &euro;</strong> - Nombre total de produits : <strong>$contrat.amapienNbProduit</strong></p>

<p style="margin:0pt;">&nbsp;</p>

<p style="margin:0pt;"><u>D&eacute;tails des paiements :</u></p>

<div>$contrat.listeDateChequeCompact</div>

<p style="margin:0pt;">Montant total des ch&egrave;ques (hors avoir)&nbsp;: <strong>$contrat.montantCheque &euro;</strong></p>

<p style="text-align: center;color:#ff0000;"><strong>J&#39;accepte les conditions &eacute;tablies par la charte des AMAP&reg; et la convention de mon AMAP</strong></p>

<table border="0" cellspacing="0" style="width:100%;">
	<tbody>
		<tr>
			<td style="width: 10%;">&nbsp;</td>
			<td style="width: 35%; border: 2px solid rgb(0, 0, 0);">
			<p style="margin:0pt;"><span style="font-size:8pt;">Date et signature du producteur</span></p>

			<p>&nbsp;</p>
			</td>
			<td style="width: 10%;">&nbsp;</td>
			<td style="width: 35%; border: 2px solid rgb(0, 0, 0);">
			<p style="margin:0pt;"><span style="font-size:8pt;">Date et signature de l&#39;amapien</span></p>

			<p>&nbsp;</p>
			</td>
			<td style="width: 10%;">&nbsp;</td>
		</tr>
	</tbody>
</table>

<p style="margin: 0pt; text-align: center;"><strong><span style="color:#FF0000;">Toute distribution non r&eacute;cup&eacute;r&eacute;e sera port&eacute;e &agrave; la banque alimentaire de XXX</span></strong></p>

</div>

</body>
</html>
