<html>
<head>
	<title></title>
</head>
<body>
<p style="text-align:center"><span style="font-size:18pt"><strong>Contrat d&rsquo;engagement solidaire AMAP </strong></span></p>

<p style="text-align:center"><span style="font-size:18pt">Saison $contrat.saison : valable du $contrat.dateDebut au $contrat.dateFin </span></p>

<p>les modalités du contrat sont ... les modalités du contrat sont ...les modalités du contrat sont ...les modalités du contrat sont ...les modalités du contrat sont ...les modalités du contrat sont ...les modalités du contrat sont ...les modalités du contrat sont ...les modalités du contrat sont ...les modalités du contrat sont ...les modalités du contrat sont ...les modalités du contrat sont ...les modalités du contrat sont ...les modalités du contrat sont ...</p>

<p>texte ...</p>

</body>
</html>
