<html>
<head>
	<title></title>
</head>
<body>

<table style="width: 100%;height: 100pt; background-color: rgb(195, 224, 237);">
	<tbody>
		<tr>
			<td style="width: 80px;"><img src="http://amapj.fr/img_amapj/ladybug.png" style="width: 80px; height: 80px; float: right;" /></td>
			<td>
			<p><span style="font-size:16pt;"><em><span style="color:#A52A2A;">MES LIVRAISONS $livraison.nomPeriodeTitre</span></em></span></p>

			<p><span style="font-size:12pt;">$amapien.nom $amapien.prenom</span></p>
			</td>
			<td style="width: 150px;vertical-align: top; ">&eacute;dit&eacute; le $date.impression</td>
		</tr>
	</tbody>
</table>

<table style="width: 100%;border: 3px solid #D3D3D3;">
	<tbody>
		<tr>
			<td>
			<p style="margin:0pt 0pt 0pt 0pt;"><span style="font-size:12pt;">Rappel :<br />
			Livraison de 18h30 &agrave; 20h les jeudis indiqu&eacute;s. Place du grand march&eacute; de la ville fleurie.<br />
			En cas de besoin, merci de contacter Mathilde au 06 01 01 01 01. Les produits non r&eacute;cup&eacute;r&eacute;s sont redistribu&eacute;s sans remboursement.</span></p>
			</td>
		</tr>
	</tbody>
</table>

<div>$livraison.tableauDateProduit</div>
</body>
</html>
